.presentation1 h2{
    font-weight: bold;
    text-align: center;
    color: #591202;
}

iframe {
    border-radius: 0.6em;
    margin: 1em;
    height: 20em;
}

img {
    margin: 1em;
    border-radius: 0.6em;
    width: 25em;
}

.presentation {
    display: flex;
}

.presentation p {
    text-align: justify;
}

.presentation1 div p {
    text-align: justify;
}

.presentation1 div {
    display: flex;
}